!!! 5
html
  head
    title JavaScript Error Logger
    link(rel="stylesheet", href="css/style.css")
  body
    h1 JavaScript Error Logger
    p This is a <i>simple</i> error logger made with NodeJS. When an error is thrown in the front end, we make an HTTP request to the logger and pass in the project name, window location, file name, line number and message as GET parameters. The user agent is sent with the header of the request. A 1x1 pixel GIF image is returned and the error is recorded on the server in a MongoDB. Web sockets are used to push new entries to the table on this page.
    p
      a(href="test.html", target="_blank") Test throwing an error here.
      |  Here is an example implementation:
    != example1
    p
      | This service is really basic at the moment, but is a work in progress. It is open source and on GitHub at: 
      a(href="https://github.com/keeganstreet/logger", target="_blank") https://github.com/keeganstreet/logger
    div#logs
      - each entry in collection
        .log.clearfix
          .logSummary
            h2= entry.project
            p= entry.date.toDateString() + " " + entry.date.toLocaleTimeString()
          .logDetails
            .detail.detailWindowLocation
              - if (entry.windowLocation)
                a(href=entry.windowLocation, target="_blank")= entry.windowLocation
              - else 
                &nbsp;
            .detail.detailFile= entry.file + " line " + entry.line
            .detail.detailMessage= entry.message || "&nbsp;"
            .detail.detailUserAgent
              a(href="http://www.tera-wurfl.com/explore/index.php?ua=" + entry.userAgent, target="_blank")= entry.userAgent

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/logger.js")

